  body,
  html {
    height: 100%;
    margin: 0;
    font-family: cursive;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(250, 235, 215);
  }

  header {
    background: transparent;
    height: 5vh;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
  }

  .boton-volver {
    background-color: #03920f;
    color: white;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 1rem;
  }

  .boton-volver:hover {
    background-color: #002403;
  }

  .container {
    margin-top: 2.5rem;
    width: 95%;
    background-color: white;
    border: solid 3px #03920f;
    border-radius: 60px;
  }

  .logo-macrohard {
    margin-top: 2rem;
    height: 5dvh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .logo-macrohard img {
    max-height: 60px;
    height: auto;
    width: auto;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: solid 3px #03920f;
    border-radius: 100px 100px 0 0;
  }

  .container h2 {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #03920f;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }

  .container i.bi-gear {
    font-size: 2.5rem;
    color: #03920f;
    justify-content: center;
  }

  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 3px #03920f;
  }

  .profile-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-top: 5rem;
  }

  .profile i.bi-person-circle {
    font-size: 5rem;
    color: #03920f;
  }

  .profile h2 {
    font-size: 2rem;
    margin: 0;
  }

  .profile p {
    margin: 0;
    font-size: 1rem;
    color: #8a8a8a;
  }

  .profile button {
    background-color: #03920f;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .profile button:hover {
    background-color: #02690b;
  }

  .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  .modoOscuro {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modoOscuro label {
    color: #03920f;
    margin-right: 2rem;
  }

  .modoOscuro input {
    cursor: pointer;
  }

  .en {
    background-color: white;
    color: #03920f;
    border: none;
    padding: 1rem;
    border: solid 3px #03920f;
    border-radius: 1.5rem;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  .es {
    background-color: #03920f;
    color: white;
    border: none;
    padding: 1rem;
    border: solid 3px #03920f;
    border-radius: 1.5rem;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  .idioma button:hover {
    background-color: #99ff8c;
    border-color: #99ff8c;
  }

  .idioma {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    margin-top: 2.5rem;
    border: solid 3px #03920f;
    border-radius: 10px;
    width: 100%;
    height: 15rem;
  }

  .idioma img {
    display: none;
  }

  @media (min-width: 577px) {

    body,
    html {
      background: url('../../recursos/img/fondoConfig.png') no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
    }

    .container {
      width: 50%;
      margin-right: 2.5rem;
      border-radius: 100px;
    }

    .logo-macrohard {
      position: absolute;
      top: 10px;
      right: 20px;
      left: auto;
      transform: none;
      margin-top: 0;
      height: auto;
    }

    header {
      justify-content: start;
    }

    .idioma {
      flex-direction: row;
      height: 7rem;
      border-radius: 100px;
    }

    .idioma img {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      display: flex;
    }

  }