body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

header {
  background: transparent;
  height: 5vh;
  display: flex;
  justify-content: end;
  padding: 1.5rem;
}

.podio-img {
    max-width: 150px;
}

.boton-volver {
  background-color: #03920f;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-size: 1rem;
}

.boton-volver:hover {
  background-color: #002403;
}

i {
  color: #03920f;
  font-size: 1.5rem;
}

.logo-macrohard {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 10;
}

.logo-macrohard img {
  max-height: 60px;
  height: auto;
  width: auto;
}